/*======================Rodape==========================*/
footer{
	background: #034811;
	padding: 50px 0px;
	margin: 15px 0px 0px 0px;
}
#rodape h4{
	color: #7dc48a;
}
#rodape a{
	color: #ffffff;
}
/*======================================================*/